<!doctype html>
<html>

<head>
    <% include ../partials/head %>
        <title>Node Authentication</title>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>
                <span class="fa fa-user"></span> Add Local Account</h1>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
                    <!-- login form -->
                    <form action="/connect/local" method="post">
                        <% include ../partials/login_form %>
                            <button type="submit" class="btn btn-warning btn-lg">Add Local</button>
                    </form>
                    <hr>
                    <p>
                        <a href="/calandarandprofile">Go back to calandar</a>
                    </p>
        </div>
    </div>
</body>

</html>