<!doctype html>
<html>

<head>
    <% include ../partials/head %>
        <title>Who are you?</title>
</head>

<body>
    <div class="container">
        <% include ../partials/jumbotron %>
    </div>
</body>

</html>